* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-weight: inherit;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    /* 박스 안에 이미지 가두기 */
    max-width: 100%;
}

p {
    word-break: keep-all;
}

body {
    /* 폰트 사이즈만큼 박스가 커지게 함 */
    line-height: 1;
    color: #444;
}

em,
address {
    font-style: normal;
}